<div class="header">
  <img class="profile-image" src="assets/images/profile_image.jpg" alt="CN" style="width:220px; height:200px;"/>
  <div class="profile-content">
      <h1 class="name">Chiradeep Nanabala</h1>
      <h2 class="desc">Innovative Software Developer and AI/ML/NLP Enthusiast</h2>   
      <ul class="social list-inline">
          <li class="list-inline-item"><a href="https://www.linkedin.com/in/chiradeep-nanabala/" target="_blank"><i class="fa fa-linkedin-square linkedin-icon" aria-hidden="true"></i></a></li>
          <!-- <li class="list-inline-item"><a href="https://github.com/chiradeep-nanabala" target="_blank"><i class="fa fa-github-square github-icon" aria-hidden="true"></i></a></li>     -->
          <!-- <li class="list-inline-item"><a href="mailto:cnanabal@g.syr.edu" target="_blank"><i class="fa fa-envelope email-icon" aria-hidden="true"></i></a></li>   -->
      </ul> 
  </div>
</div>

<div class="body">
    <div class="row body-margin">
      <div class="col-8">
        <div class="section">
            <h2 class="heading">About Me</h2>
            <div class="content justify">
                <p>
                  I am an experienced software developer renowned for consistently delivering innovative and highly efficient applications. My reputation is built on a strong foundation of adept problem-solving and the ability to tackle complex challenges head-on. With proficiency in multiple programming languages and frameworks, I boast a track record of remarkable success in diverse projects.
                </p>
                <p> 
                  My passion lies in development, and I thrive on crafting ingenious solutions. This passion encompasses everything from creating visually stunning user interfaces on the front end to optimizing server performance on the back end, and even managing the complete development spectrum as a full-stack engineer.
                </p>
                <p>
                  Beyond conventional development, I harbor a deep fascination for the realm of Artificial Intelligence and Machine Learning. My interests extend to data science, predictive analytics, and the creation of intelligent systems. Furthermore, the field of Natural Language Processing (NLP) captivates me, as it allows me to harness the power of language for extracting insights, elevating user experiences, and enabling human-like interactions with machines.               
                </p>
                <p>
                  Additionally, I derive immense satisfaction from competitive programming, where I embrace the exhilarating challenge of solving complex problems under pressure. This pursuit constantly sharpens my algorithmic skills and fuels my ongoing evolution as a developer.  
                  My commitment to continuous learning drives me to actively seek opportunities to apply my expertise in these transformative domains. I am dedicated to contributing to cutting-edge projects and propelling advancements in the ever-evolving field of technology.
                </p>
            </div> 
        </div>

        <div class="section">
          <h2 class="heading">Experience</h2>
          <div class="content">
              <div class="item-list">
                <div class="item-title">Graduate Teaching Assistant</div>
                <div class="item-subtitle">Syracuse University <span class="float-right">August 2023 - Present</span></div>
                <div class="item-body justify">
                  <ul>
                    <li>Facilitated educational experience as a Graduate Teaching Assistant for Linear Systems Laboratory, managing nine class sections.</li>
                    <li>Conducted meticulous grading of homework assignments, providing timely and constructive feedback to enhance student comprehension and performance.</li>
                    <li>Actively supported students by addressing queries and concerns during office hours, fostering a supportive and approachable atmosphere.</li>
                    <li>Collaborated effectively with laboratory instructor and fellow TAs to optimize curriculum delivery and grading standards, ensuring a high-quality educational experience.</li>
                    <li>Committed to fostering a positive learning environment and facilitating student success through comprehensive assistance and dedication.</li>
                  </ul>
                </div>
              </div>
              <hr class="divider">
              <div class="item-list">
                <div class="item-title">Graduate Research Assistant</div>
                <div class="item-subtitle">Syracuse University <span class="float-right">June 2023 - Present</span></div>
                <div class="item-body justify">
                  <ul>
                    <li>Developed and executed a comprehensive strategy for AI-generated fake news detection across multiple domains, including Politics, Health, Technology, and Entertainment, demonstrating adaptability and expertise in various subject areas.</li>
                    <li>Utilized state-of-the-art large language models like ChatGPT to create AI-generated fake news articles, showcasing proficiency in cutting-edge AI technologies.</li>
                    <li>Led dataset curation efforts, applying rigorous data preprocessing and feature extraction techniques to ensure the quality and relevance of training data, which was pivotal in achieving high model accuracy.</li>
                    <li>Spearheaded the training of machine learning models specifically designed to distinguish AI-generated fake news from human-generated articles, achieving remarkable results with over 95% accuracy in detecting AI-generated fake news and over 85% accuracy in determining article authenticity.</li>
                    <li>Made a substantial impact on the fight against misinformation by significantly improving the detection of AI-generated fake news, thereby contributing to a more informed public discourse.</li>
                    <li>Pioneered cross-domain machine learning research, expanding the scope of fake news detection beyond the initial training domains, demonstrating a commitment to pushing the boundaries of knowledge and technology.</li>
                  </ul>
                </div>
              </div>
              <hr class="divider">
              <div class="item-list">
                <div class="item-title">Senior Full-Stack Developer</div>
                <div class="item-subtitle">BNY Mellon <span class="float-right">July 2020 - July 2022</span></div>
                <div class="item-body justify">
                  <ul>
                    <li>Developed and implemented interactive dashboards encompassing Monitoring, Failover & Stay Automations, and Self-Heal Automations using a tech stack consisting of Angular, Spring Boot, and Oracle DB. These initiatives led to a remarkable enhancement in system reliability and a noticeable increase in user satisfaction.</li>
                    <li>Achieved a substantial reduction of manual efforts within application teams by a staggering 90% through the successful implementation of Failover & Stay and Self-Heal automations. This resulted in improved operational efficiency and reduced downtime.</li>
                    <li>Designed and created a dynamic live-status Subway-Map visualization utilizing NGX-Graph, offering users an intuitive and real-time view of system status and dependencies. This visualization not only improved operational awareness but also enhanced decision-making processes.</li>
                    <li>Developed a sophisticated workflow generation process by harnessing the power of the Java-centric, open-source XML-based BPMN engine, Activiti. This innovation streamlined workflow management, increasing efficiency and productivity within the organization.</li>
                  </ul>
                </div>
              </div>
              <hr class="divider">
              <div class="item-list">
                <div class="item-title">Software Engineering Intern</div>
                <div class="item-subtitle">BNY Mellon <span class="float-right">January 2020 - June 2020</span></div>
                <div class="item-body justify">
                  <ul>
                    <li>Spearheaded the development of cutting-edge Angular-based administrative tools, leading to a remarkable 70% reduction in manual tasks for the team. These tools were instrumental in streamlining workflows, automating repetitive processes, and enhancing overall team efficiency.</li>
                    <li>Innovatively designed and implemented a dynamic flowchart visualization using flowchart.js, leveraging the interpretation of BPMN XML files. This visualization not only improved the understanding of complex processes but also facilitated effective communication and decision-making within the organization.</li>
                    <li>Demonstrated proficiency in managing and utilizing a diverse set of tools, including App Dynamics, Splunk, Jenkins, and Docker, to optimize system performance and monitoring. Effectively coordinated App Engine Deployments and CI/CD processes, ensuring a seamless and efficient software development lifecycle.</li>
                  </ul>
                </div>
              </div>
          </div> 
        </div>

        <div class="section">
          <h2 class="heading">Projects</h2>
          <div class="content">
              <div class="item-list">
                <div class="item-title">Unmasking AI-Generated Fake News Across Multiple Domains</div>
                <div class="item-body justify">
                  I led a pioneering project focused on the development of machine learning models tailored to the critical task of unmasking AI-generated fake news across a multitude of domains. 
                  Our relentless efforts bore fruit as we achieved remarkable results, with our models consistently attaining over 95% accuracy in distinguishing AI-generated articles from those crafted by humans. 
                  Furthermore, our models excelled in assessing authenticity, scoring over 85% accuracy in this crucial dimension. 
                  Our research findings were recognized by the academic community, leading us to submit a comprehensive research paper to the esteemed ACM Web Conference, showcasing the significance of our work and its potential impact on the field of AI ethics and misinformation mitigation.
                  Notably, our project has a groundbreaking aspect: we are proud to be the trailblazers in introducing fake news datasets specifically tailored to AI-generated content in diverse domains. 
                  This initiative reflects our commitment to addressing the evolving challenges posed by AI-generated fake news and underlines our dedication to advancing the fight against misinformation in the digital age.
                </div>
              </div>
              <hr class="divider">
              <div class="item-list">
                <div class="item-title">Bariatric Cancer Early Dectection</div>
                <div class="item-body justify">
                  Bariatric cancer, a disease that affects the digestive system, presents a significant challenge primarily due to its propensity for late-stage diagnosis. 
                  Timely detection of bariatric cancer is imperative to enhance survival rates and enhance patients' overall quality of life.  
                  I have contributed to this critical healthcare endeavor by developing a Convolutional Neural Network (CNN) model designed to detect bariatric cancer in its early stages, achieving an impressive accuracy rate of 80%. 
                  In this project, The dataset used in this research was sourced from Upstate Hospital, ensuring the reliability and relevance of the data for our analysis.
                </div>
              </div>
              <hr class="divider">
              <div class="item-list">
                <div class="item-title">Stellar Classification</div>
                <div class="item-body justify">
                  In the pursuit of accurate stellar classification, I meticulously crafted a neural network model tailored to the Stellar Classification dataset. 
                  My approach was characterized by a comprehensive preprocessing pipeline, which included strategic sampling, precise feature scaling, and rigorous outlier removal. 
                  Through rigorous experimentation and fine-tuning, the culmination of these efforts resulted in a remarkable achievement — an astonishing 99.57% accuracy in distinguishing between 'Galaxy' and 'Star'. 
                </div>
              </div>
              <hr class="divider">
              <div class="item-list">
                <div class="item-title">From Tweets to Hope: A Data-Driven Approach to Supporting the Needy in America</div>
                <div class="item-body justify">
                  Harnessing the power of the Twitter API, I embarked on a data-driven journey to analyze a massive dataset comprising 10,000 tweets. 
                  To achieve this, I implemented a multi-faceted approach that included advanced feature engineering and sentiment analysis.
                  The primary objective of this project was to identify and categorize "Tweets Seeking Help" from the vast stream of Twitter data. 
                  By employing cutting-edge natural language processing techniques and sentiment analysis, I developed a robust system that could distinguish these critical signals effectively.
                  By promptly identifying and flagging Tweets Seeking Help, we were able to boost the response time for assistance by a staggering 80%. This significant improvement in response time can make a substantial difference in scenarios where timely help can be a matter of life and death.
                  Moreover, to ensure the visibility of these results, I created visually compelling visualizations that mapped the distribution of these tweets across the United States.
                  </div>
              </div>
              <hr class="divider">
              <div class="item-list">
                <div class="item-title">Plant Disease Classification</div>
                <div class="item-body justify">
                  In a quest to revolutionize the field of plant disease classification, I undertook the ambitious task of designing and implementing a Convolutional Neural Network model. 
                  Leveraging the extensive PlantVillage Dataset, I harnessed the power of cutting-edge preprocessing techniques to ensure the highest possible accuracy in the classification of plant diseases. 
                  Through meticulous experimentation and fine-tuning, my CNN model reached an outstanding accuracy rate of 98.22% in the task of Plant Disease Classification. 
                  By harnessing the potential of this model, we open the doors to a more efficient and sustainable agricultural future. 
                  </div>
              </div>
          </div> 
        </div>
      </div>   

      <div class="col-4">
        <div class="section">
          <div>
              <div class="item-list"> <i class="fa fa-map-marker" aria-hidden="true" style="vertical-align: bottom; font-size: 25px; margin-right: 10.5px; "></i> Syracuse, New York </div>
              <div class="item-list" style="margin-top: 10px;"> <i class="fa fa-envelope" aria-hidden="true" style="vertical-align: bottom; font-size: 20px; margin-right: 5px;"></i> cnanabal@g.syr.edu </div>
          </div> 
        </div>
        <div class="section">
          <h2 class="heading">Education</h2>
          <div class="content">
              <div class="item-list">
                <!-- <div class="item-title">
                  <div style='display: inline-block; width: 7%; margin-right: 5px; vertical-align: middle;'><i class="fa fa-graduation-cap" aria-hidden="true"></i> </div>
                  <div style='display: inline-block; width: 91%; vertical-align: middle;'>Masters in Computer Science</div>
                </div> -->
                <div class="item-title">
                  <i class="fa fa-graduation-cap" aria-hidden="true"></i> Masters in Computer Science
                </div>
                <div class="item-subtitle">Syracuse University</div>
                <div class="item-body">May 2024 &nbsp; &nbsp; &nbsp; 3.95/4</div>
              </div>
              <hr>
              <div class="item-list">
                <div class="item-title">
                  <i class="fa fa-graduation-cap" aria-hidden="true"></i> Bachelors in Computer Science
                </div>
                <div class="item-subtitle">Sree Vidyanikethan Engineering College</div>
                <div class="item-body">May 2020 &nbsp; &nbsp; &nbsp; 9.19/10</div>
              </div>
              <!-- <div class="item-list">
                <div class="item-title"><i class="fa fa-graduation-cap" aria-hidden="true"></i> State 12th Grade</div>
                <div class="item-subtitle">NRI Arts & Science Jr. College</div>
                <div class="item-body">May 2016 &nbsp; &nbsp; &nbsp; 96%</div>
              </div>
              <div class="item-list">
                <div class="item-title"><i class="fa fa-graduation-cap" aria-hidden="true"></i> State 10th Grade</div>
                <div class="item-subtitle">Ratnam High School</div>
                <div class="item-body">May 2014 &nbsp; &nbsp; &nbsp; 9.7/10</div>
              </div> -->
          </div> 
        </div>
        <div class="section">
          <h2 class="heading">Skills</h2>
          <div class="row content">
            <div *ngFor = 'let skill of technologies; let i = index' class="col box" [ngClass]="colorClasses[i % numberOfColorClasses]" >{{skill}}</div>
          </div> 
        </div>
        <div class="section">
          <h2 class="heading">Certifications</h2>
          <div class="content">
            <ul>
              <li><b>Introduction to Data Science</b> by Microsoft</li>
              <li><b>Machine Learning with Python</b> by IBM</li>
              <li><b>Geeks for Geeks Certified</b> Data Structures and Algorithms</li>
              <li>Infosys Certified <b>Software Programmer</b></li>
              <li><b>Practical Bug Bounty Mastery</b> by Abner Security</li>
            </ul>
          </div>
        </div>
        <div class="section">
          <h2 class="heading">Achievements</h2>
          <div class="content">
            <ul>
              <li>Excellence Scholar in the College of Engineering and Computer Science at Syracuse University.</li>
              <li>Given presentation on FOS Automations project to the Indian Head, CEO of BNY Mellon, and was well recognized.</li>
              <li>Earned recognition through the WOW Award program for exhibiting exceptional integrity, and leadership qualities.</li>
              <li>A Gold Medal was awarded for attaining the top academic position in the Computer Science Department.</li>
              <li> Accomplished proficiency in competitive programming by solving over 1500 problems across popular platforms such
                as LeetCode, CodeChef, HackerEarth, GeeksforGeeks and HackerRank.</li>
              <li>Organizer for Computer Engineering Technical Association at Sree Vidyanikethan Engineering College.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
</div>